.color {
  border: black solid 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.pixel {
  border: black solid 1px;
  width: 40px;
  height: 40px;
	margin: 1px;
  display: inline-block;
  background-color: white;
}

#pixel-board {
	margin-top: 10px;
}

