* {
  margin: 0;
  padding: 0;
}

.color {
  border: black solid 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgb(123, 123, 123);
}

.pixel {
  border: black solid 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
  margin: 0;
  padding: 0;
  box-shadow: 1px 1px 5px rgb(123, 123, 123);
  border-radius: 5px;
}

#pixel-board {
  margin-top: 10px;
}

body {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-image: url('https://brancopapeldeparede.fbitsstatic.net/img/p/papel-de-parede-degrade-cinza-100-71220/241067-1.jpg?w=817&h=1108&v=no-change&qs=ignore');
  font-family: Pangolin, cursive;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 50px;
  color: rgb(114, 114, 114);
}

header {
  height: 80px;
}

#color-palette {
  height: 80px;
}

button {
  background-color: rgb(103, 103, 103);
  color: white;
  font-family: Pangolin, cursive;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
}

#board-size {
  font-family: Pangolin, cursive;
  font-size: 20px;
  width: 40px;
}
